<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        >

    <import resource="classpath:config/mybatis/mybatis-applicationContext.xml"/>
    <import resource="classpath:config/memcached/memcached-applicationContext.xml"/>
    <import resource="classpath:config/shiro/application-shiro.xml"/>
    <!--<import resource="classpath:applicationContext-biz.xml"/>-->

    <context:annotation-config/>
    <!-- spring 配置文件负责扫描所有的bean,除了controller以外的,controller交由spring mvc处理-->
    <context:component-scan base-package="com.hiden">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

</beans>